---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, GREEN_STYLE } from "../config";
import Link from "../components/Link.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead
      title={SITE_TITLE}
      description="Full-stack dev from Denmark, cand.scient in Computer Science, coffee lover"
    />
  </head>
  <body class="min-h-screen dark:bg-zinc-800 font-sans flex flex-col">
    <div class="flex flex-col sm:flex-row justify-center pb-4">
      <div class="py-4 w-full flex justify-center sm:w-auto sm:p-24">
        <div class="w-64 h-64 sm:w-80 sm:h-80">
          <img
            class="rounded-full outline outline-8 outline-lime-500"
            src="/profile_picture.jpg"
            alt="Picture of me in profile, wearing a red shirt with ITU in the background."
          />
        </div>
      </div>
      <div
        class="flex flex-col justify-center items-center text-xl sm:text-3xl"
      >
        <span>Hi, I'm</span>
        <div
          id="breathe"
          class="flex flex-col items-center uppercase text-5xl sm:text-8xl pb-4"
        >
          <span id="sg" class={GREEN_STYLE}>Simon Green</span>
          <span id="k" class={GREEN_STYLE}>Kristensen</span>
        </div>
        <div class="flex flex-col items-center sm:leading-9">
          <span>a software developer from Denmark 🇩🇰</span>
          <span>with a knack for types and analysis.</span>
          <span>
            I made <Link
              noIcon
              href="https://github.com/Duckapple/Kat"
              class="font-mono leading-none"
            >
              {"Kat"}
            </Link> and remade <Link
              noIcon
              href="https://tile-game.simon-green.dev/"
            >
              Azul
            </Link>
          </span>
          <span>and I enjoy espresso ☕</span>
        </div>
      </div>
    </div>
    <div class="flex justify-center">
      <a
        href="/CV"
        class="px-12 py-6 rounded-2xl bg-gradient-to-br from-lime-500 to-lime-600 text-white text-3xl cursor-pointer hover:from-lime-600 hover:to-lime-700 transition-colors"
      >
        Check out my CV!
      </a>
    </div>
    <div class="flex flex-col justify-center items-center p-24 text-3xl">
      <p class="mb-4">Currently employed at</p>
      <a
        href="https://ocean.io"
        rel="external noreferrer"
        target="_blank"
        class="hover:scale-110 transition"
      >
        <img src="/ocean_logo.svg" alt="Ocean.io Logo" class="h-32" />
      </a>
    </div>
    <Footer />
    <script>
      const sg = document.getElementById("sg")!;
      const k = document.getElementById("k")!;
      function x(time: number) {
        const pct = Math.round(Math.sin(time / 1000) * 20);
        const toPct = 80 + pct;
        const attr =
          "--tw-gradient-to-position: " +
          toPct +
          "%; --tw-gradient-from-position: " +
          pct +
          "%";
        sg.setAttribute("style", attr);
        k.setAttribute("style", attr);
        requestAnimationFrame(x);
      }
      requestAnimationFrame(x);
    </script>
  </body>
</html>
