---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../config";
const { class: className } = Astro.props;
---

<header class:list={["w-full mb-6", className]}>
  <h2 class="my-2">
    {SITE_TITLE}
  </h2>
  <nav class="flex">
    <HeaderLink class="flex-grow" href="/">Home</HeaderLink>
    <!-- <HeaderLink href="/blog">Blog</HeaderLink>
    <HeaderLink href="/about">About</HeaderLink> -->
    <HeaderLink class="flex-grow" href="https://www.linkedin.com/in/simon-g-k/">
      LinkedIn
    </HeaderLink>
    <HeaderLink class="flex-grow" href="https://github.com/Duckapple">
      GitHub
    </HeaderLink>
  </nav>
</header>
