---
import { Icon } from "astro-icon";

export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {
  fallback?: string;
}

const { href, class: className, fallback, ...props } = Astro.props;

const { pathname, host, origin } = Astro.url;
const { host: newHost } = new URL(href || "", origin);

const isExt = host !== newHost; // && !newHost.includes("simon-green");
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<a
  class:list={[
    className,
    "text-blue-700 dark:text-blue-300 hover:underline",
    { "underline font-bold": isActive },
  ]}
  href={href}
  title={typeof href === "string" ? href : null}
  rel={isExt ? "external noreferrer" : null}
  target={isExt ? "_blank" : null}
  {...props}
>
  <span class="print:hidden">
    <slot />
  </span>
  <span class="hidden print:inline">{fallback ?? href}</span>
  {
    isExt && (
      <Icon
        class="print:hidden h-4 inline -mt-1"
        name="octicon:link-external-16"
      />
    )
  }
</a>
